html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1 {
font-family:Arial, Helvetica, sans-serif;
font-size: 70px;
display: block;
background-color: #d8e2dc;
padding: 20px;
padding-left: 1px;
margin:0;
border-radius: 15px 0 15px 15px;

}

body {
    min-height: 100%;
margin: 0;

}

html {
    height: 100%;
    box-sizing: border-box;
}

aside {
    width: 10%;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
    font-size: 50px;margin: 1rem 0 1rem 0;
    margin-top: 15px;
    text-align: right;
    margin-right: 15px;

}


a:hover {
    color: rgb(201, 29, 29);
    text-decoration: underline;    
}

a {
    text-decoration: none;

}

nav {
    padding: 1% 20%;
    text-align: center;
}

.menu div {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    
}




aside > p {
    margin: 1rem 0 1rem 0;
}

span {
    color: rgb(30, 145, 14);
}



h2 {
    font-style: oblique;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

}

.intro {
    padding: 10px;
padding-left: 5px;
margin-top:5px;
background-color: #e8e8e4;
border-radius: 15px;
}

.exp {
    border-style: solid;
    margin-top: 5px;
    border-radius: 15px;
    border: thick double lightsteelblue;
    padding-left: 5px;
}

img {
    float: left;
    width: 100px;
    height: 80px;
}

.ct {
    margin:0 0 2px 120px;
}

.period {
    margin:0 0 2px 120px;
}
.comp {
    margin:0 0 2px 120px;
}
.place {
    margin:0 0 2px 120px;
}

.common {
    margin-top: 20px;
}

.edu {
    padding: 10px;
padding-left: 5px;
margin-top:5px;
background-color: #e4f5ea;
border-radius: 15px;
}

.qua {
    font-weight: bold;
    margin: 0;
}

.inst {
    margin: 0;
    margin-bottom: 10px;
}



.knw {
    text-align: center;
    font-weight: bold;
}

label {
    font-size: 50px;
    font-weight: bold;

}

#yea:hover {
   background-color: transparent;
   color: transparent;

}



.butts {
    display: flex;
    justify-content: center;
    
}

#nay {
    width: 250px;
    height: 150px;
    margin: 1% 40%;
    font-size: 20px;
    background-color: rgb(235, 66, 66);
    cursor: pointer;
    position:absolute;
    
}

#yea {
    width: 250px;
    height: 150px;
    font-size: 20px;
    background-color: rgb(21, 235, 68);
    margin: 1% 40%;
    position:absolute;
    cursor: pointer;

}

#container {
    background-color: #003049;
    width: 90%;
    height: 300px; 
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

#container div {
    width: 200px;
    height: 200px;
    text-align:center;
    font-size: 4em;
   text-align:center;
   position: relative;
   
}

#container span {
    color: black;
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%)
}

.con {
   display: flex;
   justify-content: center;
   margin-top: 0.5em;
   margin-bottom: 0.2em;
   font-size: 50px;
   font-weight: bold;
   border: 5px;
   letter-spacing: 1px;
   
}

#feats {
    display: flex;
    justify-content: space-evenly;
}

#feats div {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 250px;
    color: rgb(7, 26, 9);
    font-weight: bold;
    border: 5px solid navy;
    padding: 50px;
}

.foot {
    padding: 10px;
margin: 5px 0 0 0;
background-color: #f1c9f1;
position: sticky;
top: 100%;

}

.bmenu div {
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.bhome {
    padding: 0% 1%;
    
}

.bcon {
    padding: 0% 1%;
    
}

.bknw {
    padding: 0% 1%;
     
}


.whole {
    display: flex;
justify-content: center;
   margin: 0 65px;
text-align: center;
flex-direction: column;
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;

}

.google-img {
    float: none;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 15px;
max-width: 100%;
    width: 100px;
    height: 100px;
}

.about {
	color: rgb(5, 4, 4);
	font-weight: 600;
	letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-style: unset;
    margin-top: 15px;
    margin-bottom: 40px;
}

.box {
    border:3px solid #003049;
    border-radius: 10px;
    margin: 10px
}



.other-features-item {
font-weight: 600;
letter-spacing: 1px;
font-size: 12px;
line-height: 1.5;
padding: 15px 5px;
border-top:1px solid rgb(71, 74, 255); 
list-style: none;


}

.other-features-item:last-child {
	border-bottom:1px solid rgb(71, 74, 255); 
}

.click-button {
	border: 1px solid rgb(12, 127, 131); 
	border-radius: 10px;
	color: rgb(5, 59, 5);
	display: inline-block;
	padding: 15px 35px;
	text-decoration: none;
	margin: 25px 0;
}


.click-button:hover, .click-button:focus {
background-color: #d3d3be

}



@media (min-width: 900px) {
	.whole {
		flex-direction: row;

	}
.box {
	
padding: 25px 50px;
}


.google-img {
    margin-top: 10px;
}

}

@media (min-width: 300px) {
    .con {
        font-size: 40px;
    }
	.knw {
        font-size: 50px;

    }
    
}
